.wrapper {
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboardImg {
  width: 300px;
}
.dashboardText {
  margin-top: 20px;
  text-align: center;
}
.dashboardTitle {
}
.dashboardPara {
  margin-top: 20px;
}
